$Grey-dark1: #4f5665;
$Grey-dark2: #777;
$Grey-dark3: #999;

$Grey-light2: #f4f2f2;
$Grey-light3: #ccc;
$Primary-pink: #ed2f6f;
$Color-black: #000;
$Color-black-1: #0b132a;
$Color-grey: #4f5665;
$Color-grey-1: #f6f6f6;
$Color-grey-3: #4f5665;

$color-primary: #f53855;
$color-primary-light: #f53838;
$color-primary-dark: #f53838;
$color-primary-pink: #ffecec;
$color-white: #fff;
$color-blue: #01996d;
$color-pink3: #f53838;
$color-red: #f53838;
$color-red-1: #f53838;
